<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="/css/deepsea.css" rel="stylesheet"/>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8b8c45babd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepwater</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@600&family=Road+Rage&family=Song+Myung&display=swap"
          rel="stylesheet">

</head>
<style>
    .second {
        flex-grow: 4;
    }

    .container {
        color: white;
    }
</style>
<script>

    function isValidContents(contents) {
        if (contents == '') {
            alert('내용을 입력해주세요');
            return false;
        }
        return true;
    }

    function editPost(cId) {
        showEdits(cId);
        let contents = $(`#${cId}-contents`).text().trim();
        $(`#${cId}-textarea`).val(contents);
    }

    function showEdits(cId) {
        $(`#${cId}-editarea`).show();
        $(`#${cId}-submit`).show();
        $(`#${cId}-delete`).show();

        $(`#${cId}-contents`).hide();
        $(`#${cId}-edit`).hide();
    }

    $(document).ready(function () {
        let id = [[ ${memory.id} ]]
        getMessages(id);
        // HTML 문서를 로드할 때마다 실행합니다.
        // let id = /*[[ ${id} ]]*/null;
        // if (id) {
        //     getMessages(id);
        // }
    })

    // 메모를 불러와서 보여줍니다.
    function getMessages(id) {
        //getMessages의 id는 memory의 Id여야 하는데
        // controller쪽과 잘 맞나? 그쪽 pathvariable은 memory쪽 id로 설정하긴 했음

        // 1. 기존 메모 내용을 지웁니다.
        $('#cards-box').empty();
        // 2. 메모 목록을 불러와서 HTML로 붙입니다.
        $.ajax({
            type: 'GET',
            url: `/memories/detail/${id}/comments`,
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let comment = response[i];
                    let cId = comment['id'];
                    let commentary = comment['commentary'];
                    let username = comment['username'];
                    let modifiedAt = comment['modifiedAt'];
                    addHTML(cId, username, commentary, modifiedAt);
                }
            }
        })
    }

    function addHTML(cId, username, commentary, modifiedAt) {
        // 1. HTML 태그를 만듭니다.
        let tempHtml = `<div class="card">
                <!-- date/username 영역 -->
                            <div class="metadata">
                                <div class="date">
                                    ${modifiedAt}
                                </div>
                                <div id="${cId}-username" class="username">
                                    ${username}
                                </div>
                            </div>
                            <!-- contents 조회/수정 영역-->
                            <div class="contents">
                                <div id="${cId}-contents" class="text">
                                    ${commentary}
                                </div>
                                <div id="${cId}-editarea" class="edit">
                                    <textarea id="${cId}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                            <!-- 버튼 영역-->
                            <div class="footer">
                                <img id="${cId}-edit" class="icon-start-edit" src="/images/edit.png" alt="" onclick="editPost('${cId}')">
                                <img id="${cId}-delete" class="icon-delete" src="/images/delete.png" alt="" onclick="deleteOne('${cId}')">
                                <img id="${cId}-submit" class="icon-end-edit" src="/images/done.png" alt="" onclick="submitEdit('${cId}')">
                            </div>
                        </div>`;
        // 2. #cards-box 에 HTML을 붙인다.
        $('#cards-box').append(tempHtml);
    }

    function writePost() {
        // 1. 작성한 메모를 불러옵니다.
        let commentary = $('#contents').val();

        // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
        if (isValidContents(contents) == false) {
            return;
        }

        // 4. 전달할 data JSON으로 만듭니다.
        let data = {'username': username, 'commentary': commentary, 'modifiedAt': modifiedAt};

        // 5. POST /api/memos 에 data를 전달합니다.
        $.ajax({
            type: "POST",
            url: `/memories/detail/${id}/comments`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                console.log("이야이야호");
                alert('메시지가 성공적으로 작성되었습니다.'); // 얘는 결국 안 떴네.
            }
        });
    }

    function submitEdit(cId) {
        // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
        let contents = $(`#${cId}-textarea`).val().trim();

        // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
        if (isValidContents(contents) == false) {
            return;
        }

        // 3. 전달할 data JSON으로 만듭니다.
        let data = {'username': username, 'commentary': commentary, 'modifiedAt': modifiedAt};

        // 4. PUT /api/memos/{id} 에 data를 전달합니다.
        $.ajax({
            type: "PUT",
            url: `/memories/detail/${id}/comments/${cId}`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메시지 변경에 성공하였습니다.');
                window.location.reload();
            }
        });
    }

    function deleteOne(cId) {
        // 1. DELETE /api/memos/{id} 에 요청해서 메모를 삭제합니다.
        $.ajax({
            type: "DELETE",
            url: `/memories/detail/${id}/comments/${cId}`,
            success: function (response) {
                alert('메시지 삭제에 성공하였습니다.');
                window.location.reload();
                // window.location.replace("/memories/detail/${id}");
            }
        })
    }

</script>


<body style="background-size: cover; background: url('/images/pexels-gilberto-olimpio-7826039.jpg') no-repeat;">

<nav class="navbar navbar-light navbar-deepwater" style="background-color: black">
    <a class="navbar-brand" href="/memories/list">
        <div style="color:#A8BFBB;">
            <h1><i class="fab fa-digital-ocean fa-1.5x d-inline-block"></i> To List </h1>
        </div>
    </a>
</nav>
<h3>
    <ul class="list-group detailed_list">
        <span class="badge badge-pill badge-dark d-inline">제목</span>
        <li class="list-group-item title_list bg-transparent">
            <div style="text-align: center">
                <div class="d-inline" th:text="${title}"></div>
            </div>
        </li>
        <span class="badge badge-pill badge-dark d-inline">내용</span>
        <li class="list-group-item name_list bg-transparent">
            <div style="text-align: center">
                <div class="d-inline" th:text="${thoughts}"></div>
            </div>
        </li>
        <span class="badge badge-pill badge-dark d-inline">입력시점</span>
        <li class="list-group-item comment_list bg-transparent">
            <div class="d-inline" th:text="${#temporals.format(memory.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
        </li>
    </ul>
</h3>

<div id="cards-box" class="card">
</div>

<form th:action="'/memories/detail/'+${id}+'/comments'" method="post">
    <div className="row">
        <div className="form-group col-md-8">
            <label htmlFor="commentary" className="col-form-label">댓글</label> <input type="text"
                                                                                     className="form-control"
                                                                                     id="contents" name="commentary"
                                                                                     placeholder="Commentary">
        </div>
        <div className="col-md-6">
            <input type="submit" className="btn btn-primary" value="Add Commentary">
        </div>
        <div className="form-group col-md-8"></div>
    </div>
</form>


<form id="my_form" method="post" action="/user/logout">
    <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
</form>
</body>
</html>